@model WebApplication2.Models.ViewModels.CreatePlanViewModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.exercisesInSession.ExerciseId, "ExerciseId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.exercisesInSession.ExerciseId, Model.excerciseList)
                @Html.ValidationMessageFor(model => model.exercisesInSession.ExerciseId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.day, "Day", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.day, Model.days)
                @Html.ValidationMessageFor(model => model.day, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.exercisesInSession.Series, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.exercisesInSession.Series, new { htmlAttributes = new { min = 1, max = 20 } })
                @Html.ValidationMessageFor(model => model.exercisesInSession.Series, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.exercisesInSession.Repeats, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.exercisesInSession.Repeats, new { htmlAttributes = new { min = 1, max = 100 } })
                @Html.ValidationMessageFor(model => model.exercisesInSession.Repeats, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.exercisesInSession.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.exercisesInSession.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.exercisesInSession.Description, "", new { @class = "text-danger" })
            </div>
        </div>        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}