@model IEnumerable<WebApplication2.Models.TrainingType>

<br/>
<p>
    <button id="create">Create</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>}
</table>
<p>
    @Html.ActionLink("Back", "TrainingPlanList")
</p>
<div id="someDiv">
</div>
<script>
    document.getElementById("create").onclick = function () { myFunction() };
    function myFunction() {
        $("#someDiv").load('@Url.Action("TrainingTypeCreate", "Trainer")');
        $('#create').hide();
    }
</script>